@page
@model MediaBazaar_Website.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";

    var returnUrl = ViewData["ReturnUrl"] as string;
    var error = TempData["Error"] as string;

}
<h4 class="center">@ViewData["Message"]</h4>
<div class="profile-main">
    <form class="profile-form" method="post">
        <h2>Profile</h2>
        @if (!string.IsNullOrEmpty(error))
        {
            <h2>@error</h2>
        }
        <div class="sub-form">
            <div class="input">
                <label> First Name*:</label>
                <span asp-validation-for="CurrentEmployee.FirstName"></span>
                <input asp-for="CurrentEmployee.FirstName" type="text">
            </div>
            <div class="input">
                <label> Last Name*:</label>
                <input asp-for="CurrentEmployee.LastName" type="text">
                <span asp-validation-for="CurrentEmployee.LastName"></span>
            </div>
            <div class="input">
                <label> Email:</label>
                <input asp-for="CurrentEmployee.Email" type="text" />
                <span asp-validation-for="CurrentEmployee.Email"></span>
                @if (!string.IsNullOrEmpty(Model.emailError))
                {
                    <a>@Model.emailError</a>
                }
            </div>
            <div class="input">
                <label> Username:</label>
                <input asp-for="CurrentEmployee.Username" type="text" />
                <span asp-validation-for="CurrentEmployee.Username"></span>
                @if (!string.IsNullOrEmpty(Model.usernameError))
                {
                    <a>@Model.usernameError</a>
                }
            </div>
        </div>
        <div class="sub-form">
            <div class="input">
                <label> Password*:</label>
                <input asp-for="Password" type="password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="input">
                <label> BSN:</label>
                <input asp-for="CurrentEmployee.BSN" type="text" readonly />
                <span asp-validation-for="CurrentEmployee.BSN"></span>
            </div>
            <div class="input">
                <label> Address*:</label>
                <input asp-for="CurrentEmployee.Address" type="text" />
                <span asp-validation-for="CurrentEmployee.Address"></span>
            </div>
            <div class="input">
                <label> PhoneNumber*:</label>
                <input asp-for="CurrentEmployee.PhoneNum" type="text" />
                <span asp-validation-for="CurrentEmployee.PhoneNum"></span>
            </div>
        </div>
        <div class="sub-form">
            <div class="input">
                <label> SpousePhoneNum*:</label>
                <input asp-for="CurrentEmployee.SpousePhoneNum" type="text" />
                <span asp-validation-for="CurrentEmployee.SpousePhoneNum"></span>
            </div>
            <div class="input">
                <label> Birthday*:</label>
                <input asp-for="CurrentEmployee.Birthday" type="text" readonly />
                <span asp-validation-for="CurrentEmployee.Birthday"></span>
            </div>
        </div>
        <div class="button">
            <input type="submit" class="subtmit-btn" value="Update Profile">
        </div>
    </form>
</div>

@section Header
{
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

@*Setting*@
<div class="settings-container">
    <a class="link" asp-page="/Personal/Settings">
        <div class="navButton">
            <span class="material-icons">settings</span>
        </div>
    </a>
</div>

@*Notifications*@
@*The next line of code: It will go through each index of the list and it will find SettingType == Notifications and it will return list 
of Settings including setting that has notification as SettingType*@
@if(Model.PersonSettings.Where( setting => setting.SettingType == Logic.Enums.SettingType.Notifications).ToList()[0].IsEnabled){
<div class="dropdown">
    <button class="dropbtn">
        <span class="material-icons">notifications</span>
        @if(Model.numberUnseenNotifications != null)
        {
        <span class="unseenNotificationNumber">@Model.numberUnseenNotifications</span>
        }
    </button>
    <div class="dropdown-content">
        <form asp-page-handler="SetNotificationToSeen" formmethod="post">
            <input type="submit" value="Seen" id="seenButton" />
        </form>
        @foreach(var notification in Model.Notifications)
        {
        @if(notification.HasBeenSeen){
        <div class="Seen">
            <h4>@notification.Title</h4>
            <a>@notification.Description</a>
        </div>
        }
        else{
        <div>
            <h4>@notification.Title</h4>
            <a>@notification.Description</a>
        </div>
        }

        }
    </div>
</div>
}
}
